.userBanner {
    padding: 2em;
}

.postContent img {
    width: 100%;
}

.related-articles h3 {
    color: #222;
}
.related > a:hover {
    text-decoration: none;
}


@media only screen and (max-width:500px) {
    .related {
        margin: 1em;
    }
}

